<style>
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
.tag{
    font-weight: bold;
}
</style>

<script>
function goBack() {
  window.history.back();
}
</script>

<div><div><button onclick="goBack()">Go Back</button><a href="/home"><button>Home</button></a></div></div>
<div><a href="/login">Logout</a></div>
<h2>User Details</h2>

<table>
    <TR>
        <TD class="tag">Username: </TD>
       <TD>{{user.user_name}}</TD>
    </TR>
    <TR>
        <TD class="tag">First Name: </TD>
       <TD>{{user.first_name}}</TD>
    </TR>
    <TR>
        <TD class="tag">Last Name: </TD>
       <TD>{{user.last_name}}</TD>
    </TR>
    <TR>
        <TD class="tag">Date of Birth:</TD>
        <TD>{{user.date_of_birth.strftime('%m-%d-%Y')}}</TD>
    </TR>
</table>

<h2>History</h2>
<table>
    {% if history %}
        <TR>
            <TH>Paper Title</TH>
            <TH>Date Visited</TH>
        </TR>
        {% for paper in history %}
        <TR>
            <TD class="c2"><a href="details/{{paper.purl}}")>{{paper.title}}</a></TD>
            <TD>{{paper.date.strftime('%m-%d-%Y')}}</TD>
        </TR>
        {% endfor %}
    {% else %}
        <p>No history for now. Go to our <a href="/home">Finder</a> to start searching!</p>
    {% endif %}
</table>

<h2>Recommended for you</h2>
{% if recommendations %}
<table>
    {% for paper in recommendations %}
    <TR>
        <TD class="c2"><a href="details/{{paper.purl}}")>{{paper.title}}</a></TD>
    </TR>
    {% endfor %}
</table>
{% else %}
    <p>We need some insights on your preferences! <a href="/home">Search</a> something so we can assist you</p>
{% endif %}


