<style>
    table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
</style>
<script>
function goBack() {
  window.history.back();
}
</script>

<div><button onclick="goBack()">Go Back</button><a href="/"><button>Home</button></a></div></div>

<p>Title: {{paper.title}}</p>
<p>URL: <a href="{{paper.purl}}", target="_blank">{{paper.purl}}</a></p>
{% if paper.url %}
    <p>Repository URL: <a href="{{paper.url}}", target="_blank">{{paper.url}}</a></p>
{% else %}
    <p>Repository URL: N/A</p>
{% endif %}
<p>Model used: {{paper.model}}</p>
<p>Authors:</p>
<table>
    <TR>
        <TH>Name</TH>
        <TH>Institution</TH>
    </TR>
    {% for author in authors %}
    <TR>
       <TD><a href="/author/{{author.aid}}">{{author.first_name}} {{author.last_name}}</a></TD>
        <TD><a href="/institution/{{author.iid}}">{{author.name}}</a></TD>
    </TR>
    {% endfor %}
</table>